{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Posts{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('blog.create') }}">New</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% for post in posts %}
        <article class="post">
            <header>
                <div>
                    <h1><a href="{{ url_for('blog.view', id=post['id']) }}">{{ post["title"] }}</a></h1>
                    <div class="about">by {{ post["username"] }} on {{ post["created"].strftime("%Y-%m-%d") }}</div>
                </div>
                {% if g.user["id"] == post["author_id"] %}
                    <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
                {% endif %}
                <form action="{{ url_for('blog.like', id=post['id']) }}" method="POST" class="like-form">
                    <input type="hidden" name="liked-{{ post['id'] }}" id="liked-{{ post['id'] }}" value="{{ post['liked'] }}">
                    <input type="submit" value="{% if post['liked'] == 0 %}Like{% else %}Unlike{% endif %}">
                </form>
            </header>
            <p class="body">{{ post['body'] }}</p>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}