{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}{{ post["title"] }}{% endblock %}</h1>
    <div class="about">by {{ post["username"] }} on {{ post["created"].strftime("%Y-%m-%d") }}</div>
{% endblock %}

{% block content %}
    <article class="post">
        <p class="body">{{ post["body"] }}</p>
    </article>
    <div class="react-root"></div>
    <section class="comments">
        <h2>Comments</h2>
        {% for comment in comments %}
            <div class="about">by {{ comment["username"] }} on {{ comment["created"].strftime("%Y-%m-%d") }}</div>
            <p>{{ comment["body"] }}</p>
        {% endfor %}
        <form action="{{ url_for('blog.comment', id=post['id']) }}" method="post">
            <label for="body">Comment body</label>
            <textarea name="body" id="body" required></textarea>
            <input type="submit" value="Send">
        </form>
    </section>
{% endblock %}